<div class="text-center p-5">
<h2>Add NEW Product</h2>
<div class="container w-50 text-center bg-dark p-5">
    <form (ngSubmit)="addNewProduct()" [formGroup]="addPrductForm" action="">
        <input formControlName="id" type="text" name="p1" id="pid" class="form-control mt-2 p-2" placeholder="product id">
        <input formControlName="productName" type="text" name="p2" id="pname" class="form-control mt-2 p-2" placeholder="product Name">
        <input formControlName="categoryId" type="text" name="p3" id="cid" class="form-control mt-2 p-2" placeholder="categoryid">
        <input formControlName="description" type="text" name="p4" id="did" class="form-control mt-2 p-2" placeholder="description">
        <input formControlName="price" type="text" name="p5" id="priceid" class="form-control mt-2 p-2" placeholder="price">
        <input formControlName="isAvailable" type="text" name="p6" id="avid" class="form-control mt-2 p-2" placeholder="isAvailable">
        <input formControlName="productImage" type="text" id="imid" name="p7" class="form-control mt-2 p-2" placeholder="product image">
        <input formControlName="rating" type="text" name="p8" id="ratid" class="form-control mt-2 p-2" placeholder="rating">
        <input formControlName="review" type="text" name="p9" id="renid" class="form-control mt-2 p-2" placeholder="review">
        <input formControlName="vendoreName" type="text" name="p10" id="venid" class="form-control mt-2 p-2" placeholder="vendorename">
        <input formControlName="warrenty" type="text" name="p11" id="warid" class="form-control mt-2 p-2" placeholder="warrenty">
        <button class="btn btn-success mt-2 p-2">Add product</button>
    </form>
</div>
</div>
